@{
    ViewBag.Title = "Gửi Email";
}
@model NewNationals.Models.ModelSendMails
<style>
    .fsendmail {
    background: #eeeeee;
    padding: 15px 30px;
    border-left: 20px solid #0c5f40;
}

    .fsendmail .control-label {
        text-align: left !important;
    }

    .fsendmail input, .fsendmail select, .fsendmail textarea {
        max-width: 100% !important;
    }

    .fsendmail .link {
        line-height: 34px;
        color: #0c5f40;
        font-weight: bold;
    }

        .fsendmail .link:hover {
            color: #0c5f40;
            text-decoration: none;
        }

    .fsendmail button {
        background: #71b900;
        color: #fff;
        padding: 0px;
        border: none;
        line-height: 24px;
        width: 100px;
        text-align: center;
    }

        .fsendmail button i.fa {
            background: #777;
            width: 24px;
            line-height: 24px;
            float: left;
        }

h1.title {
    margin: 0px 0px 15px 0px;
    font-weight: bold;
    font-size: 24px;
}
</style>
<div class="main-page">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="~/Content/logo.png" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Action("MenuTop")
            <div class="form-search">
                <div class="search-body">
                    <input type="text" id="txtSearch" placeholder="Tìm kiêm" class="text" />
                    <button class="btn-search" onclick="Timkiem()" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="breadcrumb-trail breadcrumb">
                @Html.Raw(ViewBag.Breadcrumb)
            </div>
            <div class="col-lg-8">
                <h1 class="title">Gửi Thư</h1>
                <hr />
                @using (Html.BeginForm())
                {
                    <div class="form-horizontal fsendmail">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.PageId)
                        <div class="form-group">
                            @Html.LabelFor(m => m.FullName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "gõ ở đây.." })
                                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MailFrom, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.MailFrom, new { @class = "form-control", @placeholder = "gõ ở đây.." })
                                @Html.ValidationMessageFor(m => m.MailFrom, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MailTo, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.MailTo, new { @class = "form-control", @placeholder = "gõ ở đây.." })
                                @Html.ValidationMessageFor(m => m.MailTo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Subject, new { @class = "col-md-3 control-label", @placeholder = "gõ ở đây.." })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "gõ ở đây.." })
                                @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PageTitle, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.HiddenFor(m => m.PageTitle)
                                @Html.Raw(Model.PageTitle)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Content, new { @class = "col-md-3 control-label" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "6", @placeholder = "gõ ở đây.." })
                                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit"> <i class="fa fa-envelope"></i> GỬI THƯ</button>
                                <button type="submit"> <i class="fa fa-remove"></i> HỦY BỎ</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
