@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ClassLibrary.Models.Slidehow>
@using ClassLibrary.Services;
@{
    ViewBag.Title = "Slide tin tức";
    Layout = "~/Areas/AdminControlPanel/Views/Shared/_LayoutAdminCp.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Slide Tin Tức
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Slide Tin Tức</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Slide Tin Tức</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <a href="/AdminControlPanel/SlideShow/Create" class="btn bg-maroon btn-flat margin">Thêm mới</a>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            
                            @Html.TextBox("SearchString", null, new {@placeholder = "Từ khóa tìm kiếm...", @autocomplete = "off", @class = "form-control"})
                        </div>
                        <div class="col-lg-2 col-md-2">
                            @Html.TextBox("FromDate", null, new {@placeholder = "Từ ngày...", @autocomplete = "off", @class = "form-control", @dataprovide = "datepicker", id = "FromDate"})
                            <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            @Html.TextBox("ToDate", null, new {@placeholder = "Đến ngày...", @autocomplete = "off", @class = "form-control", @dataprovide = "datepicker", id = "ToDate"})
                            <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button class="btn btn-primary btn-info" onclick=" fSearch() "><i class="fa fa-filter"></i> Lọc dữ liệu</button>
                            <button class="btn btn-primary btn-danger" onclick=" endSearch() "><i class="fa fa-close"></i> Bỏ lọc</button>
                        </div>
                    </div>
                    <hr/>
                    <table id="tbdata" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Hình ảnh</th>
                            <th>Vị trí</th>
                            <th>Target</th>
                            <th>Phân loại</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Chức năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td class="text-center">@Html.Raw(i + (Model.PageNumber*Model.PageSize) - Model.PageSize)</td>
                                <td>
                                    @item.Name
                                </td>
                                <td>@if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <a href="#avt_@item.Id" data-toggle="modal" data-target="#avt_@item.Id"><img src="@Url.Content(@item.ImageUrl)" alt="Image" width="80" height="50"/></a>
                                        <div class="modal fade" id="avt_@item.Id" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Hình Ảnh</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img src="@Url.Content(@item.ImageUrl)" alt="Image" width="570" height="500"/>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }</td>
                                <td>@item.Order</td>
                                <td>@item.TargetUrl</td>
                                <td>@item.Tanoxomy</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>
                                    @if (item.Status.ToString() == "0")
                                    {
                                        <a href="#" title="Slide tin tức đang bị khóa, Click để mở slide tin" onclick=" LockSlide(this) " data-id="@item.Id" data-status="@item.Status"><i class="fa fa-lock" aria-hidden="true"></i></a>
                                    }
                                    @if (item.Status.ToString() == "1")
                                    {
                                        <a href="#" title="Slide tin tức đang mở, Click để khóa Slide tin" onclick=" LockSlide(this) " data-id="@item.Id" data-status="@item.Status"><i class="fa fa-unlock" aria-hidden="true"></i></a>
                                    }
                                    &nbsp;&nbsp;&nbsp;
                                    <a title="Sửa thông tin" href="/AdminControlPanel/SlideShow/Edit/@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp; <a href="#" title="Xóa bản ghi" onclick=" Delete(this) " data-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="pull-right">
                        @Html.PagedListPager(Model, page => Url.Content("Index?page=" + page))
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#FromDate').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_1"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
        $('#ToDate').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_1"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    });
    function Delete(elem) {
        if (!confirm('Bạn có chắc muốn xóa bản ghi?'))
            return false;
        else {
            var id = $(elem).data('id');
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "SlideShow")',
                data: { Id: id },
                success: function (data) {
                    if (data) {
                        //alert("Bạn đã xóa thành công!");
                        var url = "/AdminControlPanel/SlideShow/Index";
                        window.location.assign(url);
                    }
                    else {
                        alert("Lỗi: Bạn không thể xóa!");
                        var url = "/AdminControlPanel/SlideShow/Index";
                        window.location.assign(url);
                    }
                },
                error: function () { alert('Đã xảy ra lỗi!'); }
            });
        }
    }
    function LockSlide(elem) {
        var id = $(elem).data('id');
        var status = $(elem).data('status');
        $.ajax({
            type: "GET",
            url: '@Url.Action("updateStatus", "SlideShow")',
            data: { id: id, status: status },
            success: function (data) {
                var url = "Index";
                window.location.assign(url);
            }
        });
    }
    function fSearch() {
        var url = "Index?page=1&SearchString=" + $("#SearchString").val() + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val();
        window.location.assign(url);
    }
    function endSearch() {
        var url = "Index";
        window.location.assign(url);
    }
</script>