@model NewNationals.Areas.AdminControlPanel.Models.PageModels
@using System.Web.UI.WebControls
@using ClassLibrary.Services
@using ClassLibrary.Commons
@{
    ViewBag.Title = "Cập nhật bài viết";
    Layout = "~/Areas/AdminControlPanel/Views/Shared/_LayoutAdminCp.cshtml";
}
<style>
    .fileuploadcss {
        position: relative;
        overflow: hidden;
    }

        .fileuploadcss [type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cập nhật bài viết
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Bài viết</a></li>
        <li class="active">Cập nhật</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <a href="/AdminControlPanel/Page/Index" class="btn btn-block btn-info btn-flat">Danh Sách</a>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("Edit", "Page", FormMethod.Post, new { EncType = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.CreateDate)
                        @Html.HiddenFor(model => model.UserCreate)
                        @*@Html.HiddenFor(model => model.Feature)
                        @Html.HiddenFor(model => model.Home)
                        @Html.HiddenFor(model => model.Taxanomy)*@
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.CategoriesId)</label>
                                    @Html.DropDownListFor(model => model.CategoriesId, null, "--- Chọn chuyên mục ---", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoriesId, "", new { @class = "text-danger" })
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Name)</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên bài viết" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Note)</label>
                                    @Html.TextAreaFor(model => model.Note, new {@class = "form-control", @placeholder = "Nhập tóm tắt"})
                                    @Html.ValidationMessageFor(model => model.Note, "", new {@class = "text-danger"})
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Thumbnail)</label>
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Thumbnail, new {htmlAttributes = new {@class = "form-control", @placeholder = "chọn hình ảnh cho bài viết"}})
                                        @Html.ValidationMessageFor(model => model.Thumbnail, "", new {@class = "text-danger"})
                                        <span class="input-group-btn">
                                            <button type="button" id="SelectImage" class="btn btn-info btn-flat">Chọn ảnh</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Content)</label>
                                    @Html.TextAreaFor(model => model.Content, new {htmlAttributes = new {@class = "form-control", @placeholder = "Nhập nội dung bài viết"}})
                                    @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.TemplatePage)</label>
                                    @Html.DropDownListFor(x => x.TemplatePage, new SelectList(CommonsHelper.Template_BaiViet(), "Value", "Text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TemplatePage, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Feature)</label>
                                    @Html.CheckBoxFor(model => model.Feature, new { htmlAttributes = new { @class = "form-control", @placeholder = "Hiển thị bài viết trong Feature" } })
                                    @Html.ValidationMessageFor(model => model.Feature, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Home)</label>
                                    @Html.CheckBoxFor(model => model.Home, new { htmlAttributes = new { @class = "form-control", @placeholder = "Hiển thị bài viết ngoài trang chủ" } })
                                    @Html.ValidationMessageFor(model => model.Home, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Taxanomy)</label>
                                    @Html.DropDownListFor(x => x.Taxanomy, new SelectList(CommonsHelper.Dropdown_PageTaxanomy(), "Value", "Text"), new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Taxanomy, "", new {@class = "text-danger"})
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.TacGia)</label>
                                    @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tác giả (nếu có)" } })
                                    @Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.ToChuc)</label>
                                    @Html.EditorFor(model => model.ToChuc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tổ chức (nếu có)" } })
                                    @Html.ValidationMessageFor(model => model.ToChuc, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>File đính kèm</label>
                                    <label class="form-control">
                                        <input type="file" multiple="multiple" id="uploadBtn" name="files"/>
                                    </label>
                                    @*<label class="form-control fileuploadcss">
                                        <span id="uploadFile">Nhấn vào đây để chọn file..</span>
                                        <input type="file" class="upload" multiple="multiple" id="uploadBtn" name="files" />
                                    </label>*@
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.LinkRelated)</label>
                                    @Html.EditorFor(model => model.LinkRelated, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập link liên kết nếu có" } })
                                    @Html.ValidationMessageFor(model => model.LinkRelated, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Tag)</label>
                                    @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập thẻ tag ngăn nhau bởi dấu ,  (ví dụ: nội_dung_tag1,nội_dung_tag2,nội_dung_tag3,..)" } })
                                    @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Title)</label>
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập thẻ tiêu đề dùng cho (SEO)" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Keywords)</label>
                                    @Html.EditorFor(model => model.Keywords, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập thẻ từ khóa dùng cho (SEO)" } })
                                    @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-danger" })
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Description)</label>
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập thẻ mô tả dùng cho (SEO)" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <button class="btn bg-maroon">Lưu Thông Tin</button>
                                    <a class="btn bg-orange" onclick=" BackIndex() ">Hủy Bỏ</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row (main row) -->
</section>
<script src="~/Areas/AdminControlPanel/Content/ckeditor/ckeditor.js"></script>
<script src="~/Areas/AdminControlPanel/Content/ckeditor/styles.js"></script>
<script src="~/Areas/AdminControlPanel/Content/ckfinder/ckfinder.js"></script>
<script>
    $(function () {
        $("#SelectImage").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Thumbnail").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        CKEDITOR.replace('Content');
    });
    function BackIndex() {
        var url = "/AdminControlPanel/Page/Index";
        window.location.assign(url);
    }
</script>


