@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ClassLibrary.Models.Page>
@using ClassLibrary.Services;
@using ClassLibrary.Commons;
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Areas/AdminControlPanel/Views/Shared/_LayoutAdminCp.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bài viết
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Bài viết</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Bài viết</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <a href="/AdminControlPanel/Page/Create" class="btn bg-maroon btn-flat margin">Thêm mới</a>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            @Html.DropDownList("CategoriesSearch", new SelectList(ViewBag.SelectCategories, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBox("SearchString", null, new { @placeholder = "Tìm theo tiêu đề..", @autocomplete = "off", @class = "form-control" })
                        </div>
                        <div class="col-lg-2 col-md-2">
                            @Html.TextBox("FromDate", null, new { @placeholder = "Từ ngày...", @autocomplete = "off", @class = "form-control", @dataprovide = "datepicker", id = "FromDate" })
                            <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            @Html.TextBox("ToDate", null, new { @placeholder = "Đến ngày...", @autocomplete = "off", @class = "form-control", @dataprovide = "datepicker", id = "ToDate" })
                            <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <button class="btn btn-primary btn-info" onclick=" fSearch() "><i class="fa fa-filter"></i> Lọc</button>
                            <button class="btn btn-primary btn-danger" onclick=" endSearch() "><i class="fa fa-close"></i> Bỏ lọc</button>
                        </div>
                    </div>
                    <hr />
                    <table id="tbdata" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Chuyên mục</th>
                                <th>Tên bài viết</th>
                                <th>Nổi bật</th>
                                <th>Sự kiện</th>
                                <th>Hình ảnh</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td class="text-center">@Html.Raw(i + (Model.PageNumber * Model.PageSize) - Model.PageSize)</td>
                                    <td>
                                        <a href="/AdminControlPanel/Categories/Index?CategoryId=@item.CategoriesId"> @Html.Action("GetNameCategory", new { id = @item.CategoriesId })</a>
                                    </td>
                                    <td>
                                        <a href="#detail_@item.Id" data-toggle="modal" data-target="#detail_@item.Id">@CommonsHelper.RutGon(item.Name, 181)</a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="detail_@item.Id" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Chi tiêt</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Tên bài viêt</p>
                                                        <hr />
                                                        <p>@item.Name</p>
                                                        <hr />
                                                        <p>Tóm tắt</p>
                                                        <hr />
                                                        <p>@item.Note</p>
                                                        <hr />
                                                        <p>Nội dung</p>
                                                        <hr />
                                                        <p>@Html.Raw(item.Content)</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @if (!item.Feature)
                                        {
                                            <a href="#" title="Click để hiện thị bài viết trong mục nổi bật" onclick="UpdateFeature(this) " data-id="@item.Id" data-feature="@item.Feature"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                        }
                                        @if (item.Feature)
                                        {
                                            <a href="#" title="Click để tắt bài viết trong mục nổi bật" onclick="UpdateFeature(this) " data-id="@item.Id" data-feature="@item.Feature"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        }
                                    </td>
                                    <td>
                                        @if (!item.Home)
                                        {
                                            <a href="#" title="Click để hiện thị bài viết trong mục sự kiện" onclick="UpdateHome(this) " data-id="@item.Id" data-home="@item.Home"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                        }
                                        @if (item.Home)
                                        {
                                            <a href="#" title="Click để tắt bài viết trong mục sự kiện" onclick="UpdateHome(this) " data-id="@item.Id" data-home="@item.Home"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.Thumbnail))
                                        {
                                            <a href="#avt_@item.Id" data-toggle="modal" data-target="#avt_@item.Id"><img src="@Url.Content(@item.Thumbnail)" alt="Image" width="80" height="50" /></a>
                                            <div class="modal fade" id="avt_@item.Id" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Hình Ảnh</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img src="@Url.Content(@item.Thumbnail)" alt="Image" width="570" height="500" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td>@item.CreateDate</td>
                                    <td>
                                        @if (item.Status.ToString() == "0")
                                        {
                                            <a href="#" title="Bài viết đang bị khóa, Click để mở bài viết" onclick="UpdateStatus(this) " data-id="@item.Id" data-status="@item.Status"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                        }
                                        @if (item.Status.ToString() == "1")
                                        {
                                            <a href="#" title="bài viết đang mở, Click để khóa Bài viết" onclick="UpdateStatus(this) " data-id="@item.Id" data-status="@item.Status"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Status.ToString() == "0")
                                        {
                                            <a href="#" title="Bài viết đang bị khóa, Click để mở bài viết" onclick="UpdateStatus(this) " data-id="@item.Id" data-status="@item.Status"><i class="fa fa-lock" aria-hidden="true"></i></a>
                                        }
                                        @if (item.Status.ToString() == "1")
                                        {
                                            <a href="#" title="bài viết đang mở, Click để khóa Bài viết" onclick="UpdateStatus(this) " data-id="@item.Id" data-status="@item.Status"><i class="fa fa-unlock" aria-hidden="true"></i></a>
                                        }
                                        &nbsp;&nbsp;&nbsp;
                                        <a title="Sửa thông tin" href="/AdminControlPanel/Page/Edit/@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp; <a href="#" title="Xóa bản ghi" onclick="Delete(this) " data-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pull-right">
                        @{
                            string strsearch = "";
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.CategoriesSearch))
                        {
                            strsearch += "&&CategoriesSearch=" + ViewBag.CategoriesSearch;
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.SearchString))
                        {
                            strsearch += "&&SearchString=" + ViewBag.SearchString;
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.FromDate) && !string.IsNullOrEmpty(ViewBag.ToDate))
                        {
                            strsearch += "&&FromDate=" + ViewBag.FromDate + "&&ToDate=" + ViewBag.ToDate;
                        }
                        @Html.PagedListPager(Model, page => Url.Content("Index?page=" + page + strsearch))
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#FromDate').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_1"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
        $('#ToDate').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_1"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    });
    function Delete(elem) {
        if (!confirm('Bạn có chắc muốn xóa bản ghi?'))
            return false;
        else {
            var id = $(elem).data('id');
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Page")',
                data: { Id: id },
                success: function (data) {
                    if (data) {
                        //alert("Bạn đã xóa thành công!");
                        var url = "/AdminControlPanel/Page/Index";
                        window.location.assign(url);
                    }
                    else {
                        alert("Lỗi: Bạn không thể xóa!");
                        var url = "/AdminControlPanel/Page/Index";
                        window.location.assign(url);
                    }
                },
                error: function () { alert('Đã xảy ra lỗi!'); }
            });
        }
    }
    function UpdateStatus(elem) {
        var id = $(elem).data('id');
        var status = $(elem).data('status');
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetUpdateStatus", "Page")',
            data: { id: id, status: status },
            success: function (data) {
                if (data) {
                    var url = "/AdminControlPanel/Page/Index";
                    window.location.assign(url);
                }
                else {
                    alert("Lỗi: Bạn không thể update!");
                    var url = "/AdminControlPanel/Page/Index";
                    window.location.assign(url);
                }
            }
        });
    }
    function UpdateFeature(elem) {
        var id = $(elem).data('id');
        var status = $(elem).data('feature');
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetUpdateFeature", "Page")',
            data: { id: id,status:status },
            success: function (data) {
                if (data) {
                    var url = "/AdminControlPanel/Page/Index";
                    window.location.assign(url);
                }
                else {
                    alert("Lỗi: Bạn không thể update!");
                    var url = "/AdminControlPanel/Page/Index";
                    window.location.assign(url);
                }
            }
        });
    }
   function UpdateHome(elem) {
        var id = $(elem).data('id');
        var status = $(elem).data('home');
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetUpdateHome", "Page")',
            data: { id: id,status:status },
            success: function (data) {
                if (data) {
                    var url = "/AdminControlPanel/Page/Index";
                    window.location.assign(url);
                }
                else {
                    alert("Lỗi: Bạn không thể update!");
                    var url = "/AdminControlPanel/Page/Index";
                    window.location.assign(url);
                }
            }
        });
    }
    function fSearch() {
        var url = "/AdminControlPanel/Page/Index?page=1&CategoriesSearch=" + $("#CategoriesSearch").val() + "&SearchString=" + $("#SearchString").val() + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val();
        window.location.assign(url);
    }
    function endSearch() {
        var url = "Index";
        window.location.assign(url);
    }
</script>