@model IEnumerable<ClassLibrary.Models.Role>
    @using ClassLibrary.Commons
@{
    ViewBag.Title = "Quyền hệ thống";
    Layout = "~/Areas/AdminControlPanel/Views/Shared/_LayoutAdminCp.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Quyền hệ thống
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quyền</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <a href="/AdminControlPanel/Role/Create" class="btn bg-maroon btn-flat margin">Thêm mới</a>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbdata" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Stt</th>
                            <th>Tên quyền</th>
                            <th>Ghi chú</th>
                            <th>Chức năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.Raw(i++)</td>
                                <td>
                                    @item.RoleName
                                </td>
                                <td>@item.Note</td>
                                <td>
                                    <a title="Sửa thông tin" href="/AdminControlPanel/Role/Edit/@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp; <a href="#" title="Xóa bản ghi" onclick=" Delete(this) " data-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row (main row) -->
</section>
<script>

    $(function () {
        $("#tbdata").DataTable();
        //$('#example2').DataTable({
        //    "paging": true,
        //    "lengthChange": false,
        //    "searching": false,
        //    "ordering": true,
        //    "info": true,
        //    "autoWidth": false
        //});
    });
    function Delete(elem) {
        if (!confirm('Bạn có chắc muốn xóa bản ghi?'))
            return false;
        else {
            var id = $(elem).data('id');
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Role")',
                data: { Id: id },
                success: function (data) {
                    if (data) {
                        //alert("Bạn đã xóa thành công!");
                        var url = "/AdminControlPanel/Role/Index";
                        window.location.assign(url);
                    }
                    else {
                        alert("Lỗi: Bạn không thể xóa!");
                        var url = "/AdminControlPanel/Role/Index";
                        window.location.assign(url);
                    }
                },
                error: function () { alert('Đã xảy ra lỗi!'); }
            });
        }
    }
    
</script>


